/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "colors";
@import "typography";

body {
  background-color: $body-background-color;
  font-family: $body-font-family;
  color: $body-font-color;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: $body-font-color;
}

.master-header {
  width: 100%;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  font-size: 2em;
  background-color: $banner-color;
  a {
    color: white;
  }
}

.struct-nav {
  margin-left: 0.2em;
}

.controls {
  top: 10%;

  button {
    display: block;
    width: 100%;
  }
}

.visualization {
  padding: 1em;
  width: 70%
}

// .home-wrapper {
//   padding: 1em;
// }
